body {
    background-color: #F7F8F0;
    color: #355872;
    font-family: Verdana, Arial, Helvetica;
    margin-top: 70px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 100px;
}

p {
    text-align: justify;
}

a:link {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: blue;
    font-size: large;
}

a:visited {
    text-decoration: none;
    color: blue;
}

#namareporter {
    font-weight: bold;
    font-size: xx-small;
}

.publis {
    font-size: xx-small;
    text-align: center;
}

.agakmasuk {
    margin-left: 20px;
}

.gambar {
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23);
}
